.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	margin: 2.75rem 1rem 0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}
