.navbar {
	position: fixed;
	width: 100%;
	background: var(--nav-background);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.navbarContainer {
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 2.75rem;
}

.navItem {
	text-decoration: none;
	color: var(--light-text-color);
	font-size: 0.75rem;
	transition: color 0.3s;
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navItem:hover {
	color: var(--light-hover-text-color);
}

.navLink {
	display: flex;
}

.navButton {
	flex: 1;
	font-size: 1rem;
	cursor: pointer;
}

.hamburger {
	display: none;
}

@media (max-width: 48rem) {
	.navItem {
		justify-content: flex-end;
		flex: 0;
		margin: 0 0.625rem;
	}
	.navbarContainer {
		justify-content: space-between;
	}
	.navButtons {
		width: 200px;
	}

	.navLink {
		display: none;
	}
	.hamburger {
		display: flex;
	}
}
