.pathContainer {
	display: flex;
	align-items: center;
	padding: 20px 0;
	flex-wrap: wrap;
}

.pathChildContent {
	display: flex;
}
.pathChildSection {
	display: flex;
	border-radius: 0.625rem;
	width: 100%;
	height: 100%;
}
.pathChildCards {
	width: 2rem;
	height: 100%;
	backdrop-filter: blur(8px); /* 毛玻璃效果 */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 保留阴影以增加深度感 */
	cursor: pointer;
	font-size: 1.5rem;
	transition: transform 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-color: rgba(255, 255, 255, 0.15); /* 增加透明度 */
}

.pathChildCards.active {
	flex: 1;
	width: auto;
	background-color: rgba(255, 255, 255, 0.15); /* 增加透明度 */
}

.pathChildCards:hover {
	z-index: 1;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	background-color: rgba(255, 255, 255, 0.15); /* 增加透明度 */
}
.pathChildCards span {
	margin-top: 2.5rem;
}

.pathChildCards:hover span {
	margin-top: 2.5rem;
	transform: scale(1.2);
	transition: transform 0.3s ease-in-out;
	display: inline-block; /* 为了使transform作用于span元素 */
}

.pathChildCards.active:hover {
	transform: scale(1); /* 对于激活状态的卡片，鼠标悬停时保持原始大小 */
}

.milestone {
	display: flex;
	align-items: center;
	margin: 25px 0;
}

.card {
	padding: 20px 40px;
	background-color: var(--primary-colorb);
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	color: var(--main-color);
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* 添加 transform 到过渡效果中 */
	cursor: pointer; /* “小手”样式 */
}

.card:hover {
	background-color: var(--secondary-colorp);
	transform: scale(1.05); /* 悬停时放大卡片 */
}

.arrow {
	width: 50px; /* 略微调整箭头宽度以适应更大的箭头 */
	height: 7px; /* 调整实线的高度 */
	position: relative;
	background: var(--secondary-colory); /* 使用全局的黄色 */
	margin: 0 auto; /* 使箭头居中 */
}

.arrow::after {
	content: '';
	position: absolute;
	width: 14px; /* 调整三角形的宽度 */
	height: 14px; /* 调整三角形的高度 */
	right: -14px; /* 将箭头放置在实线之后 */
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--secondary-colory); /* 使用全局的黄色 */
	clip-path: polygon(100% 50%, 0 0, 0 100%); /* 创建右指向的三角形形状 */
}

@media (prefers-color-scheme: dark) {
	.card {
		background-color: var(--secondary-colorp);
		color: var(--main-color);
	}
	.card:hover {
		background-color: var(--secondary-coloro);
		transform: scale(1.05);
	}
	.arrow {
		background-color: var(--secondary-coloro);
	}
}
