/* General Path Container Styles */
.pathContainer {
	display: flex;
	flex-wrap: wrap;
	padding: 24px 32px;
	justify-content: center;
	width: 75rem;
}

/* Milestone Component Styles */
.milestone {
	margin: 16px;
	padding: 10px;
	/* border: 1px solid #efefef; */
	border-radius: 3%;
	transition: all 0.3s ease-in-out;
	text-align: center;
	flex-basis: 20%;
}

/* Hover Effect - Flip the card */
.milestone:hover .milestoneInner {
	transform: rotateY(180deg);
}

.label {
	display: block;
	margin-top: 24px;
	font-weight: 500;
	font-size: 1.25rem;
	color: rgb(35, 35, 35);
	text-decoration: none;
}

.milestone:hover .label {
	color: var(--main-color);
}

.milestoneInner {
	position: relative;
	width: 100%;
	height: 200px; /* Adjust as needed */
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Front and Back Side of the Card */
.milestoneFront,
.milestoneBack {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border: 1px solid #efefef;
	border-radius: 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.milestoneFront {
	background-color: white;
}

/* Back Side */
.milestoneBack {
	background-color: #dfe4e8;
	transform: rotateY(180deg);
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
	.pathContainer {
		padding-top: 47px;
	}
	.milestone {
		flex-basis: 35%;
	}
}

@media screen and (max-width: 768px) {
	.pathContainer {
		padding-top: 47px;
	}
	.milestone {
		flex-basis: 50%;
	}
}

/* Path.module.css */
.pathChildSection {
	width: 100%;
	height: calc(100vh - 4.75rem); /* 与选项卡容器高度相同 */
}

.pathChildContainer {
	display: flex;
	padding: 24px 32px;
	width: 100%;
	position: relative;
	height: 100%;
}

.tabsContainer {
	flex-basis: 15%;
	padding: 0.625rem;
	min-width: 7rem;
	max-width: 12.5rem;
	border-right: 1px solid #ddd;
	top: 4.5rem; /* 调整以避免被导航栏遮挡 */
	left: 0;
	overflow-y: auto;
}

.tab {
	display: block;
	width: 100%;
	border: none;
	background-color: transparent;
	padding: 10px;
	cursor: pointer;
	text-align: left;
}

.tab:hover {
	background-color: #f2f2f2;
}

.active {
	background-color: #ddd;
}

.tabContent {
	flex-grow: 1;
	padding: 15px;
	overflow-y: auto; /* 添加滚动条以适应内容 */
}
